{{- $page := .Page }}
{{- $index := .Index }}
{{- $size :=  .Size }}
{{- $show_section := .Branch | default true }}
{{- $show_author := .Author | default true }}
{{- $show_front := .Front | default false }}
{{- $ctx := .Ctx }}
{{- $bg := (absURL (printf "images/posts/%s" .Image)) }}

{{- $lang := $page.Language.Lang}}
{{- $months := $ctx.Site.Data.months }}

{{- if and (not $show_front) (eq $index 0) (gt $size 1) }}
<div class="grid-2 article_showcase">
{{- end }}
<article class="article mb-2">
    <a href="{{ $page.RelPermalink }}"
       {{ if and (eq $index 0) $show_front }} class="grid-reverse" {{ end }}>
        <div class="article_thumb"
             style="background-image: url({{ $bg }})"
        ></div>
        <div class="article_meta {{ if and (eq $index 0) $show_front }} center_y {{ end }}">
            <span class="meta-info">
                <time class="pale">
                    {{ if (ne $lang "en") }}
                        {{ index (index $months $lang) (printf "%d" $page.Date.Month) }}
                    {{ else }}
                        {{ $page.Date.Month }}
                    {{ end }}
                    {{ $page.Date.Year }}
                </time>
                {{ if $show_author }}
                 |
                <span class="author">
                    {{ partial "metadata_term" (dict "is_linked" false "Ctx" $page ) }}
                </span>
                {{ end }}
            </span>
            {{ if $show_section }}
                {{- partial "widgets/article-branch" $page.Params.branches }}
            {{ end }}
            <h3 class="article_title">{{ $page.Title }}</h3>
            <div class="article_excerpt {{ if and (eq $index 0) $show_front }} visible {{ end }}">
                <p>{{ $page.Summary | truncate 100 }}</p>
            </div>
        </div>
    </a>
</article>
{{- if and (not $show_front) (eq $index (add $size -1)) (gt $size 1) }}
</div>
{{- end }}

{{- if $show_front }}
    {{- if and (eq $index 0) (gt $size 1) }}<div class="grid-2 article_showcase">{{ end }}
    {{- if and (eq $index (add $size -1)) (gt $size 1) }}</div>{{ end }}
{{- end }}
