<ul class="menu menu-social">
    <li title="Github">
        <a href="https://github.com/muultipla">
            {{- partial "svgs/github.svg" (dict "fill" "#263F59" "width" 20 "height" 20 ) }}
        </a>
    </li>
    <li title="Linkedin">
        <a href="https://www.linkedin.com/showcase/muultipla">
            {{- partial "svgs/linkedin.svg" (dict "fill" "#263F59" "width" 20 "height" 20 ) }}
        </a>
    </li>
    <li title="Instagram">
        <a href="https://instagram.com/muultipla_edu">
            {{- partial "svgs/instagram.svg" (dict "fill" "#263F59" "width" 20 "height" 20 ) }}
        </a>
    </li>
</ul>
