.pale {
    opacity: 0.7;
}
.hidden{
    display: none;
}
.center{
    text-align:center;
    margin:5px auto;
}
.left{
    text-align:left;
}
.link {
    display: inline-block;
    width: 2.5rem;
    margin: 0 0.25rem;
    padding: 0 0.25rem;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    &_owner:hover & {
        opacity: 0.9;
    }
}
.wrap{
    max-width: 900px;
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
        padding: 0 3.5rem;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 1.5rem !important;
    }
}

@for $i from 1 through 2 {
    $size: $i * 1.5rem;
    $x-size: $size * 0.5;
    .pt-#{$i} {
        padding-top: $size;
    }
    .pb-#{$i} {
        padding-bottom: $size;
    }
    .mt-#{$i} {
        margin-top: $size;
    }
    .mb-#{$i} {
        margin-bottom: $size;
    }
}
%grid{
    display: grid;
    grid-template-columns: 1fr;
}
[class*='grid-']{
    @include media-breakpoint-up(lg) {
        grid-gap: 2rem;
    }
}
.grid-2, .grid-3, .grid-4, .grid-auto, .grid-reverse{
    @extend %grid;
}

@include media-breakpoint-up(lg) {
    .grid-auto{
        grid-template-columns: 2fr 5fr;
    }
    .grid-reverse{
        // flip grid auto;
        grid-template-columns: 5fr 2fr;
    }
    .grid-2{
        grid-template-columns: 1fr 1fr;
    }
    .grid-3 {
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    }
    .grid-4 {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
}

.mt {
    margin-top: 5rem;
}
.never {
    min-height: 60vh;
    background-size: contain;
    padding: 0 1.5rem;
    margin-top: 6rem;
    &_title {
        text-align: left;
    }
}
