// text strings
$copy-icon-b4: '{{ i18n "share_story" }}';
$copy-icon-aft: '{{ i18n "link_copied" }}';

// urls
$font-path: '{{ absURL "fonts" }}';
$copy-icon-path: '{{ absURL "images/icons/copy.svg" }}';
$prev-icon-path: '{{ absURL "images/icons/previous.svg" }}';
$next-icon-path: '{{ absURL "images/icons/next.svg" }}';

@import 'typography/fonts';
@import 'variables';
@import 'mixins/breakpoints';
@import 'mixins/misc';
@import 'base';
@import 'utils';
@import 'layout/nav';
@import 'layout/footer';
@import 'components/menu';
@import 'components/buttons';
@import 'components/item';
@import 'components/media';
@import 'components/posts';
@import 'components/table';
@import 'typography/texts';
@import 'typography/syntax';
