.menu {
    list-style: none;
    padding: 0;
    > li {
        list-style: none;
    }
    &.menu-main {
        > li a {
            display:block;
            padding:12.5px 25px;
            margin-bottom:2px;
            border-bottom:1px solid rgba(0,0,0,0.04);
            transition:color 0.25s ease-in-out;
            color: var(--secondary);
            &:hover {
                color: var(--light);
                background-color: var(--secondary);
            }
        }
    }
    &.menu-social {
        display: flex;
        justify-content: flex-start;
        padding: 25px;
        > li {
            margin-right: 10px;
            a {
                display: inline;
                margin: 0;
                padding: 0;
            }
        }
    }
    &.menu-langs {
        display: flex;
        justify-content: flex-start;
        font-size: 1rem;
        text-transform: uppercase;
        > li {
            margin-right: 10px;
            a {
                color: var(--primary);
            }
        }
    }
}
