.post_cover_image {

    position: absolute;
    height: 365px;
    width: 100%;
    background-size: cover;

    .blur {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(3px);
        width: 100%;
        height: 100%;
    }
}

.post{
    margin: 50px auto;
    width: 100%;
    article.post_single {
        max-width: 900px;
        header {

            position: relative;
            height: 300px;
            color: var(--light);
            margin-bottom: 60px;
            
            .header_content {

                position: absolute;
                bottom: 20px;

                h1 {
                    margin: 0 0 5px;
                    padding: 0;
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 1.2;
                }
                p {
                    padding: 0;
                }    
            }
        }
    }
    h2,h3,h4{
        margin: 0.5rem auto;
        text-align: left;
        padding: 5px 0 0 0;
        line-height: 1.2;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    p{
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        font-size: 1.1rem;
    }
    a{
        color: var(--secondary);
        transition: all 0.3s;
        &:hover {
            opacity: 0.8;
            text-decoration: underline;
        }
    }
    ol, ul {
        padding: 1rem 1.25rem;
        list-style: initial;
        font-size: 1.125rem;
    }
    &_tr_versions {
        font-size: 0.9rem;
    }
    &_tags {
        margin-top: 5px;
        a {
            display: inline-flex;
            padding: 0.25rem 0.67rem !important;
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--secondary);
            border: 1px solid var(--secondary);
            border-radius: 5px;
            text-transform: uppercase;
            &:hover {
                color: var(--light);
                background-color: var(--secondary);
                text-decoration: none;
            }
        }
    }
    &s{
        display:flex;
        justify-content: space-between;
        flex-flow:row wrap;
        width: 100%;
        align-items: stretch;
    }
    &s:not(.aside) {
        padding: 0 30px;
    }

    &_body {
        img {
            width: 100%;
        }
    }
    &_inner {
        img:not(.icon) {
            margin-bottom: 2rem;
            box-shadow: 0 1.5rem 1rem -1rem rgba(0,0,0,0.25);
            ~ h1, ~ h2, ~ h3, ~ h4 {
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
    .icon {
        margin-top: 0;
        margin-bottom: 0;
    }
    &_copy {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
    &_item{
        @include shadow;
        margin: 1.25rem 0;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        @media screen and (min-width:667px) {
            width: 47%;
        }
    }
    &_item:hover &_copy{
        opacity: 1;
    }
    &_link{
        padding:2.5px 0;
        font-size:1.25em;
        margin:2.5px 0;
        text-align:left;
    }
    &_extra {
        display: flex;
        justify-content: flex-end;
    }
    &_time {
        background: var(--theme);
        display: inline-grid;
        padding: 0.2rem 0.75rem;
        color: var(--light);
    }
    &_thumbnail {
        width: 100%;
        margin: 0;
    }
    &_nav {
        padding: 3rem 1.5rem;
        display: grid;
        margin: 2.25rem auto 1rem;
        text-align: center;
        color: var(--theme);
        box-shadow: 0 1rem 3rem -1rem rgba(0,0,0,0.15);
        text-transform: uppercase;
        &, span {
            position: relative;
            z-index: 3;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    }
    &_next {
        display: inline-grid;
        margin: 0 auto;
        width: 10rem;
        grid-template-columns: 1fr 1.33rem;
        &::after {
            content: "";
            background-image: url($next-icon-path);
            background-repeat: repeat no-repeat;
            background-size: 0.8rem;
            background-position: center right;
        }
    }
}

.pager {
    display: grid;
    grid-template-columns: 2.5rem 1fr 2.5rem;
    margin: 2rem auto 0;
    max-width: 12.5rem;
    &, &_item {
        justify-content: center;
        align-items: center;
    }
    &_item {
        height: 2.5rem;
        width: 2.5rem;
        display: inline-flex;
        margin-left: 5px;
        margin-right: 5px;
        background-color: var(--accent);
        color: var(--light);
        border-radius: 50%;
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            opacity: 0.5;
        }
    }
    &_prev {
        background-image: url(#{$prev-icon-path});
    }
    &_next {
        background-image: url(#{$next-icon-path});
    }
    span {
        text-align: center;
    }
}

.excerpt{
    padding: 0 10px 1.5rem 10px;
    position: relative;
    z-index: 1;
    &_meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-2.5rem);
        position: relative;
        z-index: 5;
    }
}
.archive {
    &_item {
        display: grid;
        padding: 1.5rem 0;
    }
}
