table {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    border-collapse: collapse;
    margin: 1rem 0;
    background: transparent;
    border-style: hidden;
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.15);
    &:not(.ln-table) tr{
        background-color: var(--accent);
    }
}
th {
    text-align: left;
    color: var(--light);
}
thead tr{
    background: var(--theme) !important;
}
td, th{
    padding: 0.5rem 1rem;
    border: 2px solid var(--bg);
}
