{{ define "main" }}
<div class="post_cover_image"
style="background-image: url({{ (absURL (printf "images/posts/%s" .Params.image)) }})">
</div>
<div class="post_cover_image_blur"></div>
<div class="wrap mt post">
    <article class="post_single">
        <header>
            <div class="header_content">
                <h1>{{ .Title }}</h1>
                {{- $date := (dateFormat "02.01.2006" .Date) -}}
                <p class="post_meta">
                    <span class="post_date pale">{{ $date }}</span>
                </p>    
            </div>
        </header>
        <div class="post_info">
            <p class="post_meta">
                <span class="post_byline">{{ i18n "author" }} {{ partial "metadata_term" ( dict "Ctx" . ) }}</span>
            </p>    
            {{- partial "widgets/tags" . }}
        </div>
        <div class="post_body">
            <div class="post_inner">
                {{ .Content }}
            </div>
            <div class="post_extra mb-2">
                {{- partial "widgets/tr-versions" . }}
                {{- partial "share" . }}
            </div>

        </div>
    </article>
</div>
{{ end }}
