.footer{
    margin:0;
    width:100%;
    display: flex;
    background-color: var(--theme);
    color: var(--light);
    justify-content: space-between;
    padding: 1.5rem;
    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
    a {
        color:var(--accent);
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }
    @include media-breakpoint-up(lg) {
        display: none;
    }
}
